.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.timePicker {
  max-width: 10vw;
  border-color: transparent;
  color: gray;
  background-color: #28a745;
}

.label {
  margin-top: 2rem;
}

.breadcrumb {
  margin-top: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  max-width: 300px;
  margin: 20px auto;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #28a745;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.border-div {
  border: 1px solid gray;
  color: gray;
  border-radius: 5px;
  padding: 2rem;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.spaced-div {
  padding: 2rem;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.actions {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-profile {
  text-align: center;
  text-transform: uppercase;
  color: gray;
  padding: 1rem;
  font-weight: bold;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

button.outline {
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
}

button.transparent {
  background-color: transparent;
  border: 1px solid transparent;
  color: transparent;
  padding: 5px 5px;
}


.centered{
  float: none;
  margin: 0 auto;
}

.content h2 h5{
  margin-top: 2rem;
  font-family: 'Anton', sans-serif;
}

h5 {
  font-weight: bold;
}

.content p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.content hr {
  border-top: 5px dotted;
  width: 50%;
  margin: auto;
}

.content i {
  font-size: 66px;
  padding-right: 5rem;
}

